{% extends parent_template|default:'forum/base_forum.html' %}
{% load crispy_forms_tags %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">

        <nav>
            <ol class="breadcrumb" style="padding-left:100px">
                <li class="breadcrumb-item"><a href="{% url 'article_list' %}">Home</a></li>
                <li class="breadcrumb-item active"><a href="{% url 'forum_generic' %}" >Forum</a></li>
                <li class="breadcrumb-item active"><a href="{% url 'question_list' %}">Questions</a></li>
                <li class="breadcrumb-item active">Ask Question</li>

            </ol>
        </nav>
    </div>
    <section class="section" style="padding-left:100px">
      <div class="row">
        <div class="col-lg-6">
              <h5 class="card-title">Ask Question</h5>
            <div class="mt-4 grid grid-cols-2 gap-8 xl:grid-cols-2">
                <div class="flex flex-col">
                    <form method="post" action="{% url 'question_add' %}">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.title|as_crispy_field }}
                            </div>

                        </div>

                        <button type="submit" class="btn btn-primary" style="height:50px "  s>Ask Question</button>
                    </form>
                </div>
            </div>
        </div>
          <div class="col-lg-6" style="padding-left:100px">
              <h5 class="card-title">Latest Questions</h5>
            <div class="mt-4 grid grid-cols-2 gap-8 xl:grid-cols-2">
                <div class="flex flex-col">
                    {% for question in latest %}
                    <p class="text-muted"><a href="{{topic.get_absolute_url}}"> {{question.title}}</a></p>
                    {% endfor %}


                </div>
            </div>
        </div>
      </div>
    </section>


</main>
{% endblock content %}