{% extends parent_template|default:'agregator/agg_base.html' %}

{% block content %}

<section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">
                {% for article in article_list %}
                    <div class="item mb-5">
                        <div class="media">
                            <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{article.image}}" alt="image">
                            <div class="media-body">
                                <h3 class="title mb-1"><a href="blog-post.html">{{article.title}}</a></h3>
                                <div class="meta mb-1"><span class="date">Published By: {{article.publishing_site}} on  {{article.publishing_date}}</span><span class="comment"> Comments<a href="#">        {{article.comment_set.count}}</a></span></div>
                                <div class="intro">{{article.description}}</div>
                                <a class="more-link" href="blog-post.html">Read more &rarr;</a>
                            </div><!--//media-body-->
                        </div><!--//media-->
                    </div><!--//item-->
                {% endfor %}
            </div>
</section>
{% endblock content %}