{% extends parent_template|default:'agregator/agg_base.html' %}
{% load static %}
{% block content %}


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="./img/fav.png" type="image/x-icon">
  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
  <title>Welcome To Cleopatra</title>
</head>
<body class="bg-gray-100">




<div class="md:fixed md:w-full md:top-0 md:z-30 flex flex-row flex-wrap items-center bg-white p-8 border-b border-gray-300" >

        <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>

    <div class="mt-6 grid grid-cols-2 gap-8 xl:grid-cols-2">



    <div class="card bg-grey-400 border-red-350 shadow-md text-white" style="">
        <div class="card-body flex flex-row">
            <div class="image  center">{{plot_week|safe}}
            <div class="py-4 ml-12">
                <h1 class="h4">Weekly Statistics</h1>
            </div>
                <div class="alert alert-dark mb-6">

                    <a class="ml-2" target="_blank" href="""><center>Weekly Statistics</center></a>
        </div>

                <p class="text-white text-xs"></p>




            </div>
            <!-- end info -->

        </div>
    </div>
    <!-- end update section -->

    <!-- carts -->
    <div class="flex flex-col">
         <div class="card bg-grey-350 border-red-350 shadow-md text-white">
        <div class="card-body flex flex-row">
            <div class="image  center">{{plot_month|safe}}
            <div class="py-4 ml-12">
                <h1 class="h4">Monthly Statistics</h1>
            </div>
                <div class="alert alert-dark mb-6">

                    <a class="ml-2" target="_blank" href="""><center>Monthly Statistics</center></a>
        </div>

                <p class="text-white text-xs"></p>




            </div>

        <!-- alert -->

        </div>

        <!-- charts -->
        <div class="grid grid-cols-2 gap-6 h-full">


                </div>
                <div class="analytics_1"></div>
            </div>

        </div>
        <!-- charts    -->


    <div class="flex flex-col">
         <div class="card bg-grey-350 border-red-350 shadow-md text-white">
        <div class="card-body flex flex-row">
            <div class="image  center">{{overall_plot|safe}}
            <div class="py-4 ml-12">
                <h1 class="h4">GSP vs Prosport Statistics</h1>
            </div>
                <div class="alert alert-dark mb-6">

                    <a class="ml-2" target="_blank" href="""><center>GSP vs Prosport</center></a>
        </div>
                <p class="text-white text-xs"></p>

            </div>
        </div>
         </div>

    </div>
     <div class="flex flex-col">
            <div class="card-header flex flex-row justify-center">
                <h1 class="h6"><center>Number of Articles This Week</center></h1>


            </div>
    <div class="card-body grid grid-cols-2 gap-6 lg:grid-cols-1">

        <div class="p-8">
            <h1 class="h2">{{nr_articles_week}}</h1>

        </div>
    </div>
           <div class="card-header flex flex-row justify-center">
                <h1 class="h6"><center>Number of Articles this Month</center></h1>


            </div>
    <div class="card-body grid grid-cols-2 gap-6 lg:grid-cols-1">

        <div class="p-8">
            <h1 class="h2">{{nr_articles_month}}</h1>

        </div>
    </div>
         </div>
     </div>
    </div>




            <di


    </div>
     </div>
</div>
    </div>
</div>








<!-- script -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="js/scripts.js"></script>
<!-- end script -->

</body>






{% endblock content %}