{% extends parent_template|default:'agregator/agg_base.html' %}
{% load static %}
{% block content %}


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon"  type="image/x-icon">
  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
  <title>Welcome To Cleopatra</title>
</head>
<body class="bg-gray-100">




<div class="md:fixed md:w-full md:top-0 md:z-30 flex flex-row flex-wrap items-center bg-white p-8 border-b border-gray-300" >

        <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>

    <div class="mt-6 grid grid-cols-2 gap-8 xl:grid-cols-2">



    <div class="card bg-grey-400 border-red-350 shadow-md text-white" style="">
        <div class="card-body flex flex-row">
            <div class="image  center">{{plot_week|safe}}
            <div class="py-4 ml-12">
                <h1 class="h4">Weekly Statistics</h1>
            </div>
                <div class="alert alert-light mb-6">

                    <p class="text-muted"><center>Weekly Statistics</center></p>
        </div>

                <p class="text-white text-xs"></p>




            </div>
            <!-- end info -->

        </div>
    </div>
    <!-- end update section -->

    <!-- carts -->
    <div class="flex flex-col">
         <div class="card bg-grey-350 border-red-350 shadow-md text-white">
        <div class="card-body flex flex-row">
            <div class="image  center">{{plot_month|safe}}
            <div class="py-4 ml-12">
                <h1 class="h4">Monthly Statistics</h1>
            </div>
                <div class="alert alert-light mb-6">

                    <p class="text-muted"><center>Monthly Statistics</center></p>
        </div>

                <p class="text-white text-xs"></p>




            </div>

        <!-- alert -->

        </div>

        <!-- charts -->
        <div class="grid grid-cols-3 gap-6 h-full">


                </div>
                <div class="analytics_1"></div>
            </div>

        </div>
        <!-- charts    -->


    <div class="flex flex-col">
         <div class="card bg-grey-370 border-red-390 shadow-md text-white">
        <div class="card-body flex flex-row">
            <div class="image  center">{{overall_plot|safe}}
            <div class="py-4 ml-12">
                <h1 class="h4">GSP vs Prosport Statistics</h1>
            </div>
                <div class="alert alert-light mb-6">

                    <p class="text-muted"><center>GSP vs Prosport</center></p>
        </div>
                <p class="text-white text-xs"></p>

            </div>
        </div>
         </div>

    </div>
     <div class="flex flex-col" style="position:relative; right:40px;">
            <div class="card-header flex flex-row justify-left" >
                <h3 class="h4"><small class="text-muted" style="padding-left:20px">Number Of Articles This Week </small></h3>


            </div>
    <div class="card-body grid grid-cols-2 gap-6 lg:grid-cols-1">

        <div class="p-8" >

           <h3 class="h4 " style="float-center"><small class="text-muted" style="padding-left:20px">{{nr_articles_week}}&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbspGsp:&nbsp;&nbsp;&nbsp{{gsp_week_articles}}&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbspProsport:&nbsp;&nbsp;&nbsp{{prosport_week_articles}}</small></h3></center>

        </div>
    </div>
           <div class="card-header flex flex-row justify-left">
                <h3 class="h4"><small class="text-muted" style="padding-left:20px">Number Of Articles This Month </small></h3>


            </div>
    <div class="card-body grid grid-cols-2 gap-6 lg:grid-cols-1">

        <div class="p-8">
            <h3 class="h4 " style="float-center"><small class="text-muted" style="padding-left:20px">{{nr_articles_month}}&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbspGsp:&nbsp;&nbsp;&nbsp{{gsp_month_articles}}&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbspProsport:&nbsp;&nbsp;&nbsp{{prosport_month_articles}}</small></h3></center>

        </div>
    </div>
         </div>
     </div>
    </div>




            <di


    </div>
     </div>
</div>
    </div>
</div>








<!-- script -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="js/scripts.js"></script>
<!-- end script -->

</body>






{% endblock content %}